
      {% extends 'szablon.html' %}

      {% block produkt %}
      {% if produkt_user %}
      <div class="gora">
            <h3> {{ produkt_user.kategoria }} {{ produkt_user.nazwa }}</h3>
            <p><b>Producent: </b>{{ produkt_user.producent }}</p>
            <p><b>Opis produktu:</b>{{ produkt_user.opis }}</p>
      </div>


      <div class="srodek">

            <p><img id="produkt_img" src="{{ produkt_user.zdjecie }}"></p>
            <div style="clear:both;">
                  <p><b>Cena produktu:</b> {{ produkt_user.cena }}</p>
            </div>

      </div>

      <div id="dol">

            <div class="linia"><h4 class="specgraf">Specyfikacja</h4>
                  <div class="linia1">
                        <div class="linia3">Taktowanie</div></div>
                  <div class="linia2">
                        <div class="linia3">{{ produkt_user.taktowanie }}</div></div>
            </div>

      </div>

      {% else %}
          <p>Nie ma produktu o takim id</p>
      {% endif %}
      {% endblock produkt %}
